body {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  /* border: solid black 10px; */
  grid-template-columns: min-content min-content min-content;
}

.nonet {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  border-style: solid;
}

.box {
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 2rem;
}